<div class="container text-center">
  <h1>Meet the team</h1>

  <%= cl_image_tag "gbkeg45agdda1q0ppkmp", height: 300 %>

  <ul>
    <% @members.each do |member| %>
      <li><%= member %></li>
    <% end %>
  </ul>
</div>
